[submodule "maya"]
	path = third_party/maya
	url = https://github.com/1ay1/maya.git
	branch = master
[submodule "acp-cpp"]
	path = third_party/acp-cpp
	url = https://github.com/1ay1/acp-cpp.git
[submodule "mcp-cpp"]
	path = third_party/mcp-cpp
	url = https://github.com/1ay1/mcp-cpp.git
[submodule "rag-cpp"]
	path = third_party/rag-cpp
	url = https://github.com/1ay1/rag-cpp.git
	branch = main
